{% extends "base.html" %}

{% block title %} | blog{% endblock %}

{% block vsebina %}

<div class="container">

      <div class="blog-header">
        <h1 class="blog-title">O vsem in ničemer</h1>
      </div>
      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Nekaj o nečem</h2>

            <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad aliquid consectetur ducimus ea expedita iusto mollitia non quibusdam tempore. Cum eveniet illo impedit incidunt maiores nobis pariatur ullam voluptates!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus harum id iste itaque libero magni nemo neque nobis nulla, optio provident quibusdam quisquam ratione reprehenderit sapiente tempora ullam vitae.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda, blanditiis cum deserunt dignissimos eaque enim fuga impedit incidunt nihil omnis provident quas reiciendis sint tempora tempore vitae voluptatem voluptates.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi consectetur cumque debitis esse excepturi inventore magnam minus, nemo nihil quae recusandae sunt vero voluptatem, voluptatibus? Error est numquam unde.</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

</div><!-- /.container -->

{% endblock %}