{% extends "base.html" %}

{% block title %} | projekti{% endblock %}

{% block vsebina %}
<div class="media projekti">
    <h1>Prevajanje:</h1>
        <ul class="list-group">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Assumenda beatae consequuntur dolorem laborum perferendis quasi quisquam repellendus similique ut velit?</li>
        </ul>
    <br>
    <h1>Web development:</h1>
        <h3>HTML:</h3>
             <ul class="list-group">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul>
        <h3>CSS:</h3>
             <ul class="list-group">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul>
        <h3>Python:</h3>
             <ul class="list-group">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul>
</div>

{% endblock %}